@using MovieApp.DataAccess
@model List<Movie>
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Filmler<</title>
    <link rel="stylesheet" href="~/css//myStyle.css"/>
</head>
<body>
    <h1>Film Listesi</h1>
    <div class="container">
        @foreach (var film in Model)
        {
            <div class="film-item mt-2">
                <img class="image ms-2" src="@(film.ImageUrl??"images/noimage.jpeg")" alt="@film.Name" />
            </div>
            <div class="film-bottom mt-2">
                <h3 class="film-title ms-1">@film.Name</h3>
            </div>
            <div class="buttons mt-2">
                <button class="button-blue ms-3 " data-filmid="@film.Id">@film.LikeCount</button>
                <button class="button-red ms-3 " data-filmid="@film.Id">@film.DisLikeCountTotal</button>
            </div>
        }

</body>
</html>

